
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-king:before { content: '\e801'; } /* '' */
.icon-googleplus:before { content: '\e802'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e803'; } /* '' */
.icon-fire:before { content: '\e804'; } /* '' */
.icon-feather:before { content: '\e805'; } /* '' */
.icon-left-thin:before { content: '\e806'; } /* '' */
.icon-right-thin:before { content: '\e807'; } /* '' */
.icon-pencil-alt:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-hand-grab-o:before { content: '\f255'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-hand-scissors-o:before { content: '\f257'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-modx:before { content: '\f285'; } /* '' */
.icon-ravelry:before { content: '\f2d9'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
